.drawing-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .color-palette {
    display: flex;
    margin-bottom: 10px;
  }
  
  .color {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .drawing-area {
    display: grid;
    grid-template-columns: repeat(20, 20px);
   
  }
  
  .drawing-cell {
    width: 20px;
    height: 20px;
    background-color: white;
    cursor: pointer;
  }
  
  .clear-button {
    background-color: rgb(169, 238, 236);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  